[2019-09-09 13:53] vikashsingh009 opened #1 "After Service Url console application Terminated"
Hi  there,

Thanku  for  latest  pulsar  client  library,i   have  tried  to   test   above  nuget  ,imported  in  visual  studio  as   console  application ,but when   i  am  sending  message   Programme  auto-terminated

may  i  know  what  i  am   missing ,i  have  apache  pulsar version  2.4

please  find  attached  screen-shots  as  code refrence

![PulsarProducerError](https://user-images.gi

[2019-09-09 15:45] blankensteiner commented on #1
Hi Vikashsingh
Can you maybe tell me a little more about the problem? Are you getting an exception? Can you provide a stack trace?
Best regards
db

[2019-09-09 15:52] vikashsingh009 commented on #1
No after send(), program is terminating,I have attached above screenshots
as code,I also put in try catch but no exception,if I remove await code
executed but topic not created in pulsar

On Mon, Sep 9, 2019, 9:15 PM Daniel Blankensteiner <notifications@github.com>
wrote:

[2019-09-09 15:54] blankensteiner commented on #1
Ahh I see. Your "createTopic" is async void, you need to return a task and await it from Main.

[2019-09-10 05:16] vikashsingh009 commented on #1
yes,  i  have  tried  above  solution ,now   programme  is  not   termination  but  even  if  i   could  not  able  to  produce  Message  here  is  the  screen-shots  after  changed

![image](https://user-images.githubusercontent.com/7962189/64585930-2cc40d80-d3b8-11e9-8bca-e9f63dab564f.png)

[2019-09-10 06:28] blankensteiner commented on #1
If the program hangs at line 36, then it is because the client can't connect to the Pulsar server. Could you try and monitor the state of the producer and consumer? I am guessing they are in the 'Disconnected' state. Also, make sure the server is running and accessible from the computer you are running DotPulsar on.

[2019-09-11 06:31] vikashsingh009 commented on #1
i  have  triyed  above  solution  but   still  i  am   getting same  issue  not  able  to  send  message,i  am   sure  pulsar  server   is  accessable  from  client  machine   can  you  please  share   on  sample  for  producer  and   consumer  with  dotPulsar  client ..

[2019-09-11 06:51] blankensteiner commented on #1
Sure, trying to copy your code:

`
var client = PulsarClient.Builder()
                                      .ServiceUrl(new Uri("pulsar://localhost:6650"))
                                      .Build();

var topic = "persistent://public/default/mytopic";

var producer = client.NewProducer()
                                  .Topic(topic)
                                  .Create();

_ = await pr

[2019-09-11 08:39] vikashsingh009 commented on #1
Thanks ,above   Code  works  for   me  only  query  i  have is  there  any  implementation  on  in  roadmap  to   include closeasync  for  both  producer  and   consumer like

  await  producer.CloseAsync()
  await  consumer.CloseAsync()

I  am  really  looking  forward  to  see  above   features in  dotPulsar  client

[2019-09-11 11:11] blankensteiner commented on #1
We have just pushed a new package (0.2.0) to NuGet and you will be able to see it soon.
We have fixed a service discovery bug and also made it possible to have an IP in the service url.
In regards to CloseAsync(): when C# 8.0, .NET Core 3.0 and .NET standard 2.1 is released we will move to IAsyncDisposable. So that will solve your wish to dispose/close without blocking.

[2019-09-11 12:18] blankensteiner commented on #1
Talked with Vikashsingh on slack. Using 0.2.0 solved the problem. Closing the issue.

[2019-09-11 12:18] #1 closed

[2019-09-30 14:09] eaba opened #2 ""If requested by the community" Request"
Hey thanks for this library.
Do you have to wait till the community makes a request to implement any feature?
If you have free time now, while wait? I think the best thing to do is implement them because when the requests start coming you may no more have that free time!
I have interest:
   1. Schema
   2. Partitioned topics
   3. Multi-topic subscriptions
   4. TLS Authentication
Thanks

[2019-10-01 12:21] blankensteiner opened #3 "Support - TLS authentication"
As described here:

- https://pulsar.apache.org/docs/en/security-tls-authentication/
- https://pulsar.apache.org/docs/en/client-libraries-java/#tls-authentication

[2019-10-01 12:24] blankensteiner opened #4 "Support - Producer for Partitioned topics"
As described here:

- https://pulsar.apache.org/docs/en/cookbooks-partitioned/#publishing-to-partitioned-topics
- https://pulsar.apache.org/docs/en/develop-binary-protocol/#partitioned-topics-discovery

[2019-10-01 12:26] blankensteiner opened #5 "Support - Multi-topic subscriptions"
As described here:

- https://pulsar.apache.org/docs/en/client-libraries-java/#multi-topic-subscriptions
- https://pulsar.apache.org/docs/en/concepts-messaging/#multi-topic-subscriptions

[2019-10-01 12:28] blankensteiner opened #6 "Support - Schema"
As described here:

- https://pulsar.apache.org/docs/en/concepts-schema-registry/
- https://pulsar.apache.org/docs/en/schema-get-started/

[2019-10-01 12:46] blankensteiner commented on #2
Hi Ebere

Thanks for letting us know what you need!

I have created the issues listed below. You can subscribe to them and give them a "Thumbs up", to show that it is something you want:

- #3 Support - TLS authentication
- #4 Support - Partitioned topics
- #5 Support - Multi-topic subscriptions
- #6 Support - Schema

Time spent developing DotPulsar is partly sponsored by Danske Commodities and pa

[2019-10-01 12:46] #2 closed

[2019-10-01 12:54] blankensteiner opened #7 "Support - Batching"
As described here:

- https://pulsar.apache.org/docs/en/concepts-messaging/#batching
- https://pulsar.apache.org/docs/en/develop-binary-protocol/#batch-messages
- https://pulsar.apache.org/docs/en/client-libraries-java/#configuring-producers

[2019-10-14 17:32] blankensteiner commented on #7
I was a bit surprised when I realized how batching is implemented.
When sending a batch to the server, the command is relatively straight forward:

- Frame size
- Command size
- Command (Send)
- Magic number
- Checksum
- MessageMetadata size
- MessageMetadata
- Payload is a sequence of:
  - SingleMessageMetadata size
  - SingleMessageMetadata
  - Payload

I was expecting the server to unwrap the c

[2019-10-15 09:28] eaba opened #8 "Message encryption"
Once again thanks for the library!
I just read up on pulsar end-to-end message encryption and I feel it should be among the ready made features.
TLS connection is good; end-to-end message encryption is great!

https://github.com/apache/pulsar/wiki/PIP-4:-Pulsar-End-to-End-Encryption
https://github.com/apache/pulsar/pull/731

[2019-10-15 19:11] blankensteiner commented on #8
Hi Ebere
Thanks for the request!
Just dropping another link: https://pulsar.apache.org/docs/en/security-encryption/

[2019-10-17 20:58] blankensteiner commented on #3
Support for client certificate authentication has been added and will in the next release.
Needs testing.

[2019-10-21 20:52] blankensteiner commented on #3
This is supported in release 0.7.0 (just released).
Thanks to @janpieterz for help testing and debugging :-)

[2019-10-21 20:52] #3 closed

[2019-10-21 21:16] janpieterz opened #11 "Feature request - Support connectivity retries"
I think most users will have to figure out something regarding connection management.

Currently (I think) the idea is to re-create the consumers and producers from the client (correct me if I'm wrong).

It would be interesting to provide some sort of built-in reconnect, where a consumer or producer isn't related to lifecycle but just to a topic/subscription and anywhere in the application you can

[2019-10-22 06:37] blankensteiner commented on #11
Hi Jan-Pieter
Thanks for the request!
I'm not sure if I understand the requested functionality. Could you describe it in more detail? Maybe pseudocode an example?
In regards to retry/reconnect, I just wanted to make sure you have seen this: https://github.com/danske-commodities/dotpulsar/wiki/Monitoring
/db

[2019-10-22 17:17] janpieterz commented on #11
Hi DB,

Yep, seen that. When I shortly cut my internet connection, it went to the Faulted state pretty immediately. When internet came back it never recovered. As we see that kind of error happen pretty often it'd be great if we can look to either reduce the calling of the Faulted state, or opt in to always retry reconnecting.
Ideally as a consumer of this library I'd never have to worry about the

[2019-10-22 19:22] blankensteiner commented on #11
Hi JP
Ah I see. I have tested sort of the same thing with just shutting down Pulsar, but you may be getting a different exception since it went to the faulted state.
The idea is that for all problems we know to be temporary, DotPulsar should handle the reconnect / operation-retry for you. This is handled in Internal/FaultStrategy.cs (the retryInterval can be set via the PulsarClientBuilder). You c

[2019-10-22 20:39] janpieterz commented on #11
So the issue that fails it is `HostNotFound`, probably because it's trying to do a DNS lookup that fails.
I like your idea with the implementation of IFaultStrategy, in our case I'd never return a Fault so it'll always keep trying to reconnect.

We've had it happen that the whole DNS chain fails for some reason upstream, I'd not want to have to go around fixing all applications just because someth

[2019-10-23 08:43] blankensteiner commented on #11
I am wondering.... is it better to let users define their own IFaultStrategy or maybe just let them overwrite the default action for an exception.
I presume you would still like to fault some errors? E.g "InvalidTopicName"?
So I guess what you really want is to handle the SocketException?

If we let users define their own IFaultStrategy, then we should:

- Move IFaultStrategy from Internal.Abstrac

[2019-10-31 09:26] blankensteiner commented on #11
As agreed on slack, we will go with the latter option (ExceptionContext).

[2020-01-10 10:37] eaba commented on #7
Hey @blankensteiner happy new year to you!
Any ETA on this?

[2020-01-10 12:48] eaba commented on #5
Hey @blankensteiner happy new year to you!
Any ETA on this?

[2020-01-10 13:07] blankensteiner commented on #7
Hi @eaba
Thanks and a happy new year to you too! :-D
Currently, all my time is spent on implementing OpenShift and after that, we will be looking into implementing Pulsar here at Danske Commodities. This will mean more development time and a lot of developers using DotPulsar and being able to contribute (we have close to 30 developers here).
So, the status right now is that it is not being worked

[2020-01-10 16:54] eaba opened #12 "Message between earliest and latest"
Hi @blankensteiner thanks for your effort on this!
Please I will need to be able to achieve this: **To create a reader that will read from some message between earliest and latest** with the library! I see this is possible on the java client but not fully implemented on dotPulsar
[code]

Would love to see this [feature](https://github.com/apache/pulsar/blob/918dc6842d09bc07478adb5fb099aa43f1d40f1b

[2020-01-10 16:59] eaba commented on #7
Thanks for the response - just seeing this after posting a new issue!

[2020-01-10 17:01] blankensteiner commented on #12
Hi @eaba
Unless I'm not understanding your correctly, this is already possible. When creating a reader, you can set the [StartMessageId](https://github.com/danske-commodities/dotpulsar/wiki/Reader#create-a-reader-using-the-builder).
Let me know if that floats your boat :-)

[2020-01-10 17:04] blankensteiner commented on #5
Hi @eaba
Happy new year! :-)
I will talk to some developers at Danske Commodities on Monday. If memory serves me right, I think this might be something that we are gonna use in Danske Commodities.
@kandersen82 maybe you can confirm?

[2020-01-10 17:11] eaba commented on #12
The emphasis is on "between earliest and latest" - like BatchMessageIds!

[2020-01-10 17:22] eaba commented on #5
If we can get this - I will let you "sleep".

[2020-01-10 17:23] blankensteiner commented on #12
Precisely. You have a messageId (saved as a byte array or json or whatever somewhere) and now you want to create a reader starting from that id.
The class DotPulsar.MessageId has a constructor for creating the messageId:  MessageId(ulong ledgerId, ulong entryId, int partition, int batchIndex) (the lederId, entryId, partition and batchIndex are all public getter properties on MessageId).
Then you p

[2020-01-10 17:28] eaba commented on #12
Maybe it is the way Pulsar docs put it that is the issue.
By "To create a reader that will read from some message between earliest and latest" my understanding is that we can have StartMessageId range (like bucket) e.g. Messages between 10 and 20.
which makes the Reader to stop reading at 20 automatically!

[2020-01-10 17:31] eaba commented on #12
Can the Message SequenceId be taken to be the same as the MessageId?
Like I save the message SequencId and then construct a MessageId with it?

[2020-01-10 17:42] blankensteiner commented on #12
I could be wrong, but I don't think any client supports the functionality described. Looking at the java client the startMessageId method only takes a MessageId, not a range. If I'm not correct, please let me know.

In regards to the sequenceId: This is metadata controlled by the producer. You sadly cannot rely on it or deduce a MessageId from it. The messageId is generated (at east the first 3 pa

[2020-01-10 18:02] eaba commented on #12
How does the MessageId.Latest work? I saw long.MaxValue was used and that informed my decision to use Message.SequenceId.

[2020-01-10 18:22] blankensteiner commented on #12
Ah.
MessageId.Earliest and MessageId.Latest are just default values, so that the Pulsar server knows whether you want to start at the beginning or the end. They could also have been implemented as an enum or boolean, but they chose to use a "fake" MessageId to make the API easier I guess.
A messageId consist of 4 properties: LedgerId, EntryId, Partition and BatchIndex. Consider them as random.

Th

[2020-01-10 18:25] eaba commented on #12
Makes sense. @blankensteiner thanks for your time.

[2020-01-10 18:25] #12 closed

[2020-01-10 23:08] eaba commented on #12
@blankensteiner one more thing: do you think am thinking right?
[code]

[2020-01-11 16:00] blankensteiner commented on #12
I guess you can assume that EntryIds within the same ledger will be sequential, but not that the LedgerId will be.
I would suggest trying it out on a real cluster and maybe ask Apache Pulsar/Bookkeeper if they can offer any guaranties on this matter.
Again, I need to know your specific use case if I am to provide any valuable guidance :-)

[2020-01-11 17:22] eaba commented on #12
Here https://github.com/eaba/Akka.Persistence.Pulsar
Am working on a pulsar event backend for Akka.net

Please take a look and see where I am failing!

[2020-01-11 17:35] eaba commented on #12
Am experiencing this issue
[code]

here:
[code]

[2020-01-11 17:39] eaba commented on #12
Solved it!
I was caching a disposed object

[2020-01-13 09:54] eaba opened #13 "Null Consumer"
Hi @blankensteiner
While creating Reader, Pulsar server throws `Cannot Create consumer: null` error
I have not been successful with Reader thus far!

[2020-01-13 11:20] blankensteiner commented on #13
Hi @eaba
I don't have enough info to help. Please provide some code and a stack trace.

[2020-01-13 11:43] eaba commented on #13
I did this for like three days and threw that error:
`
var reader = _client.CreateReader(new ReaderOptions(start, Utils.Journal.PrepareTopic($"Journal-{persistenceId}".ToLower())));
`
Then did that worked:
[code]
In other for me to provide you with stack trace  went back to the Reader option, this time around it worked, what a world!

[2020-01-13 11:43] #13 closed

[2020-01-14 09:50] kandersen82 commented on #5
@blankensteiner There may be some synergies between implementing partitioned topics and this, since subscribing to a partitioned topic would require subscriptions to multiple partitions in some cases.

Partitioned topics are a priority for us, but multi topic subscriptions are not.

[2020-02-03 18:20] sijie opened #14 "Update the files include ALv2 license header"
*Motivation*

As part of the IP Clearance process for transferring dotpulsar to the ASF, the ASF policy requires the source code files are updated to include the ALv2 license header.

[2020-02-09 15:45] #14 closed

[2020-02-14 21:04] blankensteiner commented on #11
It's in master now and will be part of the next release (0.8.0).
You can read about it here: https://github.com/danske-commodities/dotpulsar/wiki/Resilience
Feedback is always welcome :-)

[2020-02-15 09:42] janpieterz commented on #11
@blankensteiner Great. I'll give it a shot next week or later this weekend.

[2020-02-26 15:11] RagingKore opened #16 "Breaking: Consumer always faults randomly on high throughput with ReadOnlySequence<byte> exceptions"
Let me start by saying that IMHO the project looks great, uses most of the best and latest features of .NET Core, and code looks nice. So congrats @blankensteiner and all other contributors, on a most excellent start!

Under high throughput the Consumer always faults randomly (sometimes sooner sometimes later) but always 100% of the times and while trying to read a `ReadOnlySequence<T>` (MacOs + S

[2020-02-26 19:32] janpieterz commented on #16
I think we're seeing exactly the same on our end, I'm trying to get a reliable(ish) reproduction ready, with access to a Pulsar instance. In contact with @blankensteiner about this as well. Your finds have been super useful. Do you reckon these fixes in the patch release could be it @RagingKore ? Seems a 3.1.2 release got out that I am not using yet (https://dotnet.microsoft.com/download/dotnet-co

[2020-02-26 19:39] blankensteiner commented on #16
Hi @RagingKore

First, thanks for the kind words! I'm glad you appreciate the work :-)

Also, thank you for the detailed bug report, it's most helpful! I'll drive into that and see what I can do.

Help debugging and PRs are always most welcome. Btw, have you tried with the code in master or are your using the latest released version?

/db

[2020-02-26 22:19] blankensteiner commented on #16
I was able to reproduce the problem. Updating from 3.1.1 to 3.1.2 didn't help.

I found a quick fix though. Definitely don't like it, but unless we find a better option we can use it until Microsoft fixes it.

The fix is easy. Just change PulsarStream.cs line 136 to

[code]

Can you confirm that this also fix the problem for you?

[2020-02-27 08:12] RagingKore commented on #16
Wow, how I wish that quick fix to work :) I'll check as soon as I can and get back to you.

[2020-02-27 09:20] blankensteiner commented on #16
Great! Looking forward to hearing if that fixed it.

I got to thinking, what if we add netcoreapp3.1 as a target framework, then we don't need the System.IO.Pipelines NuGet package for that framework. However, [.NET Core 3.1.2 is broken](https://github.com/dotnet/aspnetcore/issues/19133), so that won't do us any good right now.

[2020-02-27 09:32] RagingKore commented on #16
You read my mind, I was actually going to challenge the idea of supporting net standard 2.0 and 2.1. Going for  netcoreapp3.1 we get all the latest and greatest stuff, without any package dependency. And to be fair, I truly do not see old projects using .Net Framework using Pulsar. You would be doing them a favor to force an upgrade to dotnetcore. The cherry on top would be the removal of conditio

[2020-02-27 09:45] RagingKore commented on #16
One last thing, by supporting netcoreapp3.1 we get to explore other possibilities, such as building the Pulsar Binary Protocol on top of  [Bedrock by David Fowler](https://github.com/davidfowl/BedrockFramework),

This would be particularly important in order to support multiple Pulsar protocols, like MQTT. Something that the community is aiming for this year according to my sources ;)

And let's n

[2020-02-27 09:52] blankensteiner commented on #16
At Danske Commodities we need .NET Standard 2.0 support (we have some old applications running .NET Framework 4.8, that either can't be moved to .NET Core or isn't worth the effort of moving) and I also know at least one other user that's using it.
However, supporting .NET Standard 2.0 is very easy, it's just some conditional NuGet dependencies and some code in Awaitor.cs and PulsarStream.cs.

It

[2020-02-27 09:53] RagingKore commented on #16
Out of office now, but I did a quick stress test an hour ago, and that code change  seems to
have fixed the issue!

If you allow me to do the PR I would even add some ntegration tests + docker-compose to cover this bug.

What do you think @blankensteiner?

PS- I feel kind of dumb for going through all the code flow and then this simple line of code fixes it. At least I had an excuse to learn the c

[2020-02-27 09:55] blankensteiner commented on #16
It sounds like something we should look into and yes, creating another issue for it would be best :-)

[2020-02-27 10:02] blankensteiner commented on #16
Awesome!

That would be great!
Before doing too much work in regards to docker-compose, let's align. Could you describe what you envision? :-)

It was your detailed bug report that enabled me to quickly find a solution :-)
Suggestions are always welcome!

[2020-02-27 10:35] RagingKore commented on #16
Great stuff! The docker-compose simply runs the pulsar standalone + pulsar express. Makes it easier to test and develop. Maybe getting a CI pipeline to runs tests and publish packages would be beneficial, but it can be done later.

[2020-02-27 10:37] RagingKore commented on #16
I'll try to get a PR in later today for you to check it out.

[2020-02-28 07:19] blankensteiner commented on #16
Hi @RagingKore

Will it be possible for you to do the PR today? It doesn't have to be with the tests+docker, it can come another day if it's not ready, just the oneliner so that we can make a release.

[2020-02-28 10:35] RagingKore commented on #16
yes indeed. in an hour tops.

[2020-02-28 18:39] #16 closed

[2020-02-28 19:01] RagingKore commented on #11
Looks great, and if we added the option to pass function `Func<ExceptionContext, ValueTask> handler` that would be heaven ;)

[code]

[2020-02-28 20:21] blankensteiner commented on #11
Release 0.8.0 is now uploaded to NuGet. It will be available shortly :-)

[2020-02-28 20:21] #11 closed

[2020-03-01 13:07] janpieterz opened #18 "IOException on cancellation"
We are seeing something that is happening on https://github.com/danske-commodities/dotpulsar/blob/0f722c19cd4f999a143836d24737413534bb2618/src/DotPulsar/Internal/PulsarStream.cs#L92.

It's the ReadAsync that throws an IOException 995: `The I/O operation has been aborted because of either a thread exit or an application request`.  It's handled by our UnobservedTaskException handler, nothing urgent

[2020-03-03 20:08] blankensteiner commented on #18
Hi @janpieterz
It's correct that it is intentional that _streams.Frames() should just fail, however we should catch and ignore the exception, so that it doesn't get to your UnobservedTaskException handler. I'll fix that by the next release :-)

[2020-03-04 07:24] blankensteiner commented on #18
Hi @janpieterz
I've added some catches, could you try out master and see if that fixes it?

[2020-03-04 11:30] janpieterz commented on #18
@blankensteiner it'll be different for me to test the master with this, as it's all integrated in nuget feed retrievals and stuff. Would you be able to publish a pre-release package to nuget easily? Might be nice anyway for future developments.

[2020-03-04 18:13] blankensteiner commented on #18
@janpieterz I've created a 0.8.1 release. It'll be on NuGet shortly. Let me know if that fixes it for you :-)

[2020-03-06 23:17] Chickenzilla opened #22 "Internal Dictionary race condition"
https://github.com/danske-commodities/dotpulsar/blob/master/src/DotPulsar/Internal/Awaitor.cs#L23

Under high load, the `Awaitor`'s Dictionary can be modified by both a call to `CreateTask` from a `Send` operation, and a call to `SetResult` on a different thread/task from the `Connection`'s `ProcessIncommingFrames` function.

The most obvious solution would be to switch it out for a ConcurrentDict

[2020-03-07 08:43] blankensteiner commented on #22
Hi @Chickenzilla

Ah, good catch, I'll have a look at that. Thanks for reporting it! :-)

[2020-03-07 14:26] blankensteiner commented on #22
Hi @Chickenzilla
I put a fix in master. Got a chance to confirm if that solves it in your end? If not, then I can just create a 0.8.2 release.

[2020-03-08 18:06] blankensteiner commented on #22
Release 0.8.2 will be available on NuGet shortly. Let me know if that fixes it for you.

[2020-03-09 07:30] blankensteiner commented on #18
Reported working, so closing the issue.

[2020-03-09 07:30] #18 closed

[2020-03-09 20:25] Chickenzilla commented on #22
Looks good I think.  One thing I'd like to call out as a potential issue is on line https://github.com/apache/pulsar-dotpulsar/blob/master/src/DotPulsar/Internal/Awaitor.cs#L30 where you ignore the return value of TryAdd: it could be that a bug which causes duplicate adds will result in a potentially confusing state of a task that never completes, versus the old code which would have thrown a dupl

[2020-03-10 08:05] blankensteiner commented on #22
You are right. I was thinking the same thing when implementing it. We need to ensure that internal exceptions (both in the incoming and outgoing stream) will fault/close the connection and reconnect all consumers, producers, and readers using it.

[2020-03-13 03:27] vp89 commented on #4
I'm still wrapping my head around the internal structure of the code, but one thought I had was:

In PulsarClient CreateProducer, it checks if the topic is partitioned and if yes returns a PartitionedTopicProducer which implements IProducer but acts a wrapper over a collection of N Producers (1 for each partition). At this layer is where the partition routing happens, so the consumer still makes t

[2020-03-13 07:08] blankensteiner commented on #4
Hi @vp89
It sounds like a good approach, but one thing missing is how to handle state monitoring. Either we have to let the user know that behind this interface there are many producers/states or we have to decide if we can merges these states into just one state.
Any thoughts on that?

[2020-03-18 02:00] vp89 opened #26 "Remove concept of "NotReadyChannel" / Initialize channels eagerly"
When working with remote clusters where connection/channel initialization may take some time, the concept of a NotReadyChannel seems like it could result in some data loss. As messages produced in that small window when the channel is a NotReadyChannel would not go anywhere. This also manifests if there are any errors when initializing the underlying channel(s), the producer keeps receiving messag

[2020-03-18 06:44] blankensteiner commented on #26
Hi @vp89
The reason a Consumer/Producer/Reader is returned instantly is that we can never guarantee to return one that's Connected/Active. Sure we can make CreateConsumer async and wait until it's Active, but that state can easily change from the time we return it and the user starts using it. So, they need to handle disconnected Consumers/Producers/Readers no matter what.
Having said that, we sho

[2020-03-18 22:55] sijie opened #27 "Enable CI for pulsar-dotpulsar"
We need to make sure every pull request is protected by CI

[2020-03-18 22:57] sijie opened #28 "Prepare a new release for dotpulsar"
Since dotpulsar is now part of the ASF, it would be great to start cutting the first release after it enters the ASF.

Cutting the first release can help figure a few things out:

- Find any problems related to license and fix them.
- Figure the release flow for dotpulsar

[2020-03-19 07:25] blankensteiner commented on #27
Any links to guidelines/documentation from Apache in regards to the required setup?

[2020-03-19 07:26] blankensteiner commented on #28
Problems related to license?

[2020-03-22 08:45] blankensteiner commented on #22
I'm closing this since the race condition has been solved.

[2020-03-22 08:45] #22 closed

[2020-03-22 08:49] blankensteiner commented on #26
As talked about on Slack, DotPulsar does retry when the channel is not ready.
I'm therefore closing this issue, but please do create an issue if you find that exceptions are ever just swallowed.

[2020-03-22 08:49] #26 closed

[2020-03-26 06:55] sijie commented on #28
@blankensteiner I think it is more about adopting the ASF release flow

[2020-04-01 22:17] RagingKore commented on #27
I would suggest GitLab cause its script creating simplicity and powerful features like docker in docker, package registry etc.

[2020-04-01 23:03] sijie commented on #27
There is no specific requirement for running CI on the ASF. I think we should try to keep it consistent with other Pulsar repos by using Github Actions since it doesn't require additional set up.

[2020-04-03 13:38] RagingKore commented on #27
Can You @sijie  or you @blankensteiner make me a collaborator  so I can handle this?

[2020-04-03 17:24] sijie commented on #27
@RagingKore as we chatted in Slack, you don't need collaborator permissions to do so. You can add a GithubAction workflow file to enable CI. You can check how the main Pulsar repo uses GithubAction for CI. https://github.com/apache/pulsar/tree/master/.github/workflows

[2020-04-03 18:07] sijie commented on #28
It seems that I forgot to attach the ASF release guideline here: http://www.apache.org/legal/release-policy.html#policy

[2020-04-03 22:29] RagingKore commented on #27
I'm already on it thanks.

[2020-04-15 07:03] mhelleborg opened #36 "Support - Proxy"
Add [Pulsar Proxy](https://pulsar.apache.org/docs/en/concepts-architecture-overview/#pulsar-proxy) support.

This is required to use SAAS offerings, which do not expose the brokers directly to the internet.

[2020-04-15 07:07] blankensteiner commented on #36
Hi @mhelleborg
Thanks for adding this.
@vp89 you have worked on this, any closer to a solution? :-)

[2020-04-15 07:09] mhelleborg commented on #36
Seems it should not require major changes, all the contracts are already there. Its just some changes to the ConnectionPool, to honor proxy_through_service_url

[2020-04-15 08:01] mhelleborg commented on #36
Ok, I have it working here, will create a PR soon-ish :)

[2020-04-15 08:07] blankensteiner commented on #36
@mhelleborg Sounds good! :-D

[2020-04-15 08:57] mhelleborg commented on #36
@blankensteiner Should be fine now, I also changed from ASCII to UTF-8 serialization for the token, since I saw a mismatch between this and the Java client.

[2020-04-25 10:00] imaramos commented on #4
Hi,

Am I assuming right, that producting to partionated topics does not work at all?
It returns -1 for the partition, messageId etc, whend doing it-
Thank you.

[2020-04-25 11:54] blankensteiner commented on #4
Hi @imaramos
That is correct.

[2020-05-04 13:28] JarrodJ83 commented on #8
We are looking at leveraging Pulsar but we are bound by HIPAA. I believe we need this feature to be compliant. Wanted to check and see if there were any plans to implement in the near future. If not, I may try and implement based on code from the Java client if that would be welcomed. Would want, and likely require, some direction from @blankensteiner and/or @sijie if possible.

[2020-05-04 13:40] blankensteiner commented on #8
Hi @JarrodJ83
There are currently no plans on implementing this feature, but you are most welcome to have a go at it. I don't know how it's implemented in Java, but I'll be happy to give guidance on how to implement it in DotPulsar.

[2020-05-04 14:32] JarrodJ83 commented on #8
Thanks for the quick reply, @blankensteiner. I will look into this and reach out if I decide to try and take it on.

[2020-05-08 20:29] JarrodJ83 opened #39 "Reading Incoming Message Properties"
I need a way to read all of the properties of the incoming message. Is this possible in the current implementation?

From what I can tell `DotPulsar.MessageMetadata` currently does not provide a way to iterate over the `Internal.PulsarApi.MessageMetadata.Properties` of the received message. The only way to access these properties is through the indexer on `DotPulsar.MessageMetadata` which would re

[2020-05-08 20:44] blankensteiner commented on #39
Hi @JarrodJ83
You are most welcome to create a PR! :-)
I'm thinking there are two obvious options:
1. ReadOnlyDictionary<string, string> GetProperties();
2. IEnumerable<KeyValuePair<string, string>> Properties { get; }
Since users will be using this for unknown properties I guess the latter makes the most sense.
What are your thoughts on this?

[2020-05-08 22:27] blankensteiner commented on #39
Oh, I just remembered... did you see the "Properties" property on DotPulsar.Message?

[2020-05-10 18:09] JarrodJ83 commented on #39
Thanks @blankensteiner I had not seen that. That will get me what I need I believe. Out of curiosity, is there are a particular reason why on the consumer side everything is done through `DotPulsar.Message` but on the producer side things are separated out between the data and the metadata? Do you think there would be any benefit in making the producers and consumers both leverage the same objects

[2020-05-11 06:05] blankensteiner commented on #39
Hi @JarrodJ83
It's because what you receive is a Message, but what you send is Metadata+payload. So a Message is immutable and Metadata is not.
Could you elaborate on what you would like to change? :-)

[2020-05-11 19:25] JarrodJ83 commented on #39
That's fair. Thanks for the explanation!

[2020-05-11 19:26] #39 closed

[2020-06-05 13:12] JarrodJ83 opened #40 "Docker Connection Issues"
I have a simple dotnet 3.1 console app that has the DotPulsar example code in it. I am using docker-compose to startup the application and a standalone Pulsar instance. I am using the name of the docker service in the address (`pulsar://pulsar:6650`) to connect to. DotPular cannot seem to connect. It gets the following error:

   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw(Exce

[2020-06-05 13:39] blankensteiner commented on #40
Hi @JarrodJ83
Thanks for the bug report! I'll look into this later today or during the weekend :-)

[2020-06-07 22:33] blankensteiner commented on #40
Hi @JarrodJ83
Instead of connecting to "Pulsar", what if you connect to "localhost"? Does it work then?

[2020-06-09 01:10] JarrodJ83 commented on #40
No this does not work. As I understand it according to the docker compose networking documentation we should use the container name (in this case, "pulsar") in our connection string:

https://docs.docker.com/compose/networking/

The example repo I provided should repro the issue w/o any modification necessary. Let me know if there is anymore I can provide!

[2020-06-09 12:13] blankensteiner commented on #40
I'm guessing Pulsar is not ready when you try to connect and the exception you get will (by default) fault the producer/consumer. You can try retrying all exceptions:

[code]

Let me know if that works :-)

[2020-06-09 12:28] JarrodJ83 commented on #40
This resulted in the `DotPulsar.Internal.Exceptions.ChannelNotReadyException: The service is not ready yet` exception being raised repeatedly even after the other client had sent and received the message successfully.

[2020-06-09 13:01] blankensteiner commented on #40
I think something is wrong with my local docker as I can't get your repo up and running.
I would like to see the exception from the connecting logic (ChannelNotReadyException is not the one, there must be another).
Could you try and do more detailed logging of non-ChannelNotReadyExceptions and their stack traces?

[2020-06-10 07:44] #36 closed

[2020-06-11 11:08] jiazhai commented on #4
Seems this issue is more related with partitioned producer, changed the issue name to make it clear. :)

[2020-06-11 11:16] blankensteiner commented on #4
@jiazhai the issue is related to both producing and consuming partitioned topics.

[2020-06-11 11:37] jiazhai commented on #4
@blankensteiner Sorry for the misunderstanding. I thought the consumer part work would be included in #5 Multi-topics consumer. In Java client, the partitioned consumer is a special case of
Multi-topics consumer(which has only 1 partitioned topic).

[2020-06-11 11:41] blankensteiner commented on #4
Ah yes, you could also see it like that. So, fine with the subject change :-)

[2020-06-22 11:45] dionjansen opened #41 "Support for RedeliveryCount in Message API"
It would be great if the DotPulsar lib exposed RedeliveryCount in the Message API. This allows clients to build mechanisms like exponential backoff enforcing a max amount of processing a message on a consumer.

Related to [PIP 22](https://github.com/apache/pulsar/wiki/PIP-22:-Pulsar-Dead-Letter-Topic).

[2020-06-22 12:04] blankensteiner commented on #41
Hi @dionjansen
Just to be clear, you would like 'public unit RedeliveryCount { get; }' on 'DotPulsar.Message'?

[2020-06-22 12:10] dionjansen commented on #41
@blankensteiner yes that would be great!

I'm not sure how the `Internal.PulsarApi` relates to the C# API because I do see it here already: https://github.com/apache/pulsar-dotpulsar/blob/master/src/DotPulsar/Internal/PulsarApi/GeneratedCode.cs#L1109

[2020-06-22 12:36] blankensteiner commented on #41
@dionjansen Roger that, 0.9.1 is being indexed by NuGet and will be available shortly, enjoy :-)

[2020-06-22 12:36] #41 closed

[2020-06-22 12:42] dionjansen commented on #41
@blankensteiner awesome thanks a bunch!

[2020-06-24 06:31] #27 closed

[2020-06-24 08:01] RobertIndie opened #43 "Discuss - Stress Test fail on ci"
When I created a pull request that merges to master on my own repository(RobertIndie/pulsar-dotpulsar#1), it failed to test on "DotPulsar.StressTests.ConsumerTests.Messages_GivenTopicWithMessages_ShouldConsumeAll".
[Check](https://github.com/RobertIndie/pulsar-dotpulsar/pull/1/checks?check_run_id=801972631)
Is this problem caused by the performance limitations of Github Action?
Is it a good way no

[2020-06-24 08:11] blankensteiner commented on #43
Hi @RobertIndie
I think that it might have timed out because Github Action was not fast enough. We could increase the time it waits for the Pulsar container to spin up, but I think you are right in questioning if the stress tests should even be part of the CI. I think we should skip them, do you agree?

[2020-06-24 08:50] #43 closed

[2020-06-24 14:24] dionjansen opened #45 "Support - Consumer.NegativeAcknowledge"
[NegativeAcknowledge](http://pulsar.apache.org/docs/en/concepts-messaging/#negative-acknowledgement) provides a nice way to shape error handling when messages cannot be processed and you want to do so at a later time with a given timeout:

*Prefer negative acknowledgements over acknowledgement timeout. Negative acknowledgement controls the re-delivery of individual messages with more precision, an

[2020-06-24 14:29] dionjansen opened #46 "Support - negativeAckRedeliveryDelay and AckTimeout in ConsumerOptions"
As part of the [consumer configuration options](http://pulsar.apache.org/docs/en/client-libraries-java/#configure-consumer), it would be great if you can configure:

* negativeAckRedeliveryDelay: Delay to wait before redelivering messages that failed to be processed.
* ackTimeout: Timeout of unacked messages

[2020-06-25 08:16] dionjansen commented on #45
From what I can tell both the Java and C++ clients use a client sided tracker to keep track of negatively acknowledged messages add by the [Consumer. negativeAcknowledge](https://github.com/apache/pulsar/blob/6926180966f45eb9c1499b7f0eb32ea2a1368fd6/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L722) in a [NegativeAcksTracker](https://github.com/apache/pulsar/blob/692

[2020-08-05 10:26] blankensteiner commented on #7
@RobertIndie We need to add these methods to IProducerBuilder

[code]

This will require us to add these properties to ProducerOptions
[code]

[2020-08-05 10:49] blankensteiner commented on #7
@RobertIndie  We need to get 'max_message_size' from 'CommandConnected' to ensure we don't create batches that are too big.
The field is optional, so I guess we need to have a fallback to 5.242.880 bytes (5 MB)?

[2020-08-05 11:49] RobertIndie commented on #7
Ok, I agree.

[2020-09-01 13:45] lee-chrisbell opened #51 "SetupChannel exceptions"
When SetupChannel throws an exception, the application crashes because the method is async void.

I propose catching exceptions in this method and setting the ConsumerState or ProducerState to faulted.

[code]

[2020-09-02 07:45] blankensteiner commented on #51
Hi @lee-chrisbell
Good point!
The state should be set to 'faulted' elsewhere if _factory.Create throws an exception, so maybe just catch and ignore the exception?

[2020-09-02 13:01] lee-chrisbell commented on #51
Ah I did not realize that.  Yeah makes sense.

[2020-09-02 13:10] lee-chrisbell commented on #51
I submitted a PR for the change.  I removed the SetState call from my suggestion and changed the console output a bit.

[2020-09-02 13:38] #51 closed

[2020-09-03 21:09] usaguerrilla opened #53 "Memory leak in DotPulsar.Internal.AsyncQueue"
[code]

missing ```tcs.Value.Dispose();```

Should be:

[code]

[2020-09-03 21:33] blankensteiner commented on #53
Hi @usaguerrilla
I think you are right, nice catch! Up for creating a PR?

[2020-09-03 21:50] usaguerrilla commented on #53
sure! I did test it and it works. Task completes and result is success. memory is stable so far. Consumed 400'000 messages with 8 partition topic. Holding at 38Mb.

[2020-09-03 21:58] blankensteiner commented on #53
Sounds great! I'll merge your upcoming PR and create a new release tomorrow :-)

[2020-09-04 06:38] blankensteiner commented on #53
Fixed by PR

[2020-09-04 06:38] #53 closed

[2020-09-04 09:27] usaguerrilla opened #55 "Producer Executor object gets killed because exception is thrown which isn't handled by Handle method."
Producer Executor object gets killed because exception is thrown which isn't handled by Handle method. This is happening when server gets disconnected. After it happens producer won't reconnect after service become available again.

Exception:

[code]

Stack trace:

[code]

[2020-09-04 09:54] usaguerrilla commented on #55
[code]

[2020-09-04 10:15] usaguerrilla commented on #55
Another exception which doesn't seem to be caught:

[code]

[2020-09-04 11:08] usaguerrilla commented on #55
Will test a bit more. For some reason pulsar service won't start after shut down (unless I reboot machine).

[2020-09-04 11:08] #55 closed

[2020-09-04 11:12] blankensteiner commented on #55
Closed by accident?

[2020-09-04 11:28] usaguerrilla commented on #55
Nope. Need to look into this a bit more. I pasted wrong stack traces. But I do see producers and consumers not reconnecting (some do some do not) after server shut down

[2020-09-04 12:22] usaguerrilla commented on #55
[code]

Upon closing connection some producers / consumers end up in faulted state and never try to reconnect.

[2020-09-08 21:57] usaguerrilla opened #56 "If server dies Consumer / Producer Channel sometimes goes into faulted state and never tries to reconnect"
(I am not a big fan of exceptions or basing retry, etc. logic on them)

If I add the following exceptions cases into default handler then consumer and producer can reconnect. IMHO handler is a dangerous things as if implementation or underlying .net changes and new exceptions are thrown we might end up with server applications which hang from time to time for no apparent reason.

[code]

These exc

[2020-09-09 10:30] blankensteiner commented on #56
Hi @usaguerrilla
The aim is to make DotPulsar customizable so that the user can decide when to retry and when to fault the consumer/reader/producer.
No matter what the defaults are there will be use cases where a user wants to change the defaults, which is why we have the handler.
I'm not sure what you are suggesting here? To change the default to retry on more exceptions or change it to always re

[2020-09-09 18:22] usaguerrilla commented on #56
True DotPulsar is customizable. It is also true that vanilla one hangs from time to time if server disconnects so it is a bug (unless we expect every DotPulsar customer to discover this by themselves).

IMHO it should be addressed.

[2020-09-09 21:19] blankensteiner commented on #56
Hi @usaguerrilla

Well, that doesn't really answer my questions.

There are 3 kinds of exceptions.
The ones where we know that retrying is the right thing to do.
The ones where we know that retrying don't solve the problem and we, therefore, fault the consumer/producer/reader, thereby letting the user know what something is wrong.
The ones where we don't know what the right action is. In those cas

[2020-09-10 18:02] usaguerrilla commented on #56
I will think more but one problem here is that not all commands are initiated by the client. It also affects consumer. If server shuts down when consumer was sending flow command it doesn't really affect caller as no data was lost. Operation should be retried once server becomes available.

[2020-09-10 19:02] usaguerrilla commented on #56
So consumer is trying to reconnect during server shutting down (or crash) and it gets this:

```Unable to read data from the transport connection: An established connection was aborted by the software in your host machine```

Exception type is: System.IO.IOException

This isn't an action which is started by the client. It is internal code. This is just an example. Need to think about it.

[code]

[2020-09-10 19:09] usaguerrilla commented on #56
In some sense if we bail on reconnecting and mark consumer / producer as invalid in some cases, why not bail all the time? IMHO consistency is way better than having stuff like we do reconnect but only sometimes.

[2020-09-11 10:20] blankensteiner commented on #56
Hi @usaguerrilla

Bailing all the time will mean that every user needs to handle retry/reconnect, which in turn means that it will make sense for DotPulsar to handle it, and then we are back at looking for a strategy for doing this.

Never bailing (always retrying/reconnecting) is maybe an option, but then we should remove the 'Faulted' state.
This leaves us with the question if retrying on except

[2020-10-11 13:54] dionjansen opened #61 "Single batched message metadata is not read correctly"
Initial issue: https://github.com/apache/pulsar-client-node/issues/129

It seems that sending a single message from either the Python or Node Pulsar clients with batching enabled and with message properties cases the dotpulsar consumer to read the the properties as part of the message data.

## Repro

1. Update the `Consuming` example to print the properties:
[code]
1. Producer a message using eit

[2020-10-12 07:51] blankensteiner commented on #61
Thanks for the detailed bug report! :-)

The logic in DotPulsar says "If there is only one message in the batch, then it's not a batch but just a message and deserialize it accordingly.
If we can't trust the "NumMessagesInBatch" field to tell us if it's a batched message or not, then how do we know?

From https://pulsar.apache.org/docs/en/develop-binary-protocol/ on the "num_messages_in_batch" fie

[2020-10-12 08:02] dionjansen commented on #61
@blankensteiner just a stab in the dark, but: could it be that since [according to the docs on binary protocol metadata](https://pulsar.apache.org/docs/en/develop-binary-protocol/#message-metadata) the `num_messages_in_batch` is optional the following would apply: if `num_messages_in_batch` is set (whether to 1 or a number higher than 1) the payload should always be treated as a batch, otherwise i

[2020-10-12 08:08] blankensteiner commented on #61
@dionjansen Good point, but as you also point out it has a default value of 1.

[2020-10-13 14:38] blankensteiner commented on #61
@dionjansen Since they have added a default value of '1' in the proto-file, we will never see num_messages_in_batch as being null.
@sijie can the default value of '1' be removed from the proto-file?
If not, we need to either not have the commands auto-generated or remember to alter the proto-file (or the auto-generated code) each time we do it.

[2020-10-13 16:43] blankensteiner commented on #61
@sijie Using proto2. The generator gives me a "bool ShouldSerializeNumMessagesInBatch()" which returns false if the field is null. Guess I can use that.

[2020-10-13 16:44] sijie commented on #61
@blankensteiner Correct. You should check if that field is set or not.

[2020-10-15 06:28] #61 closed

[2020-12-11 16:38] dionjansen opened #65 "Support for Seek in IReader interface"
Both `IConsumer` and `IReader` should expose a `Seek` method to reset the cursor of an existing reader channel (see [java docs](http://pulsar.apache.org/api/client/2.6.0-SNAPSHOT/org/apache/pulsar/client/api/Reader)).

I believe this is a matter of:

1. Adding a `Task<CommandSuccess> Send(CommandSeek command, CancellationToken cancellationToken)` to `IReaderChannel` (I believe the `ReaderChannelFa

[2020-12-11 17:59] blankensteiner commented on #65
Hi @dionjansen
Sure, go ahead! Maybe we should also add seeking on the publish-time?

[2020-12-12 23:16] blankensteiner commented on #65
Hi @dionjansen
I had some time and have pushed the feature. Maybe you could have a look and help test it?

[2020-12-12 23:24] blankensteiner commented on #45
This sounds related to the "reconsumeLater" functionality. Not sure how they differ.
If you are up for creating a PR, then I will be happy to review it.

[2020-12-12 23:27] blankensteiner commented on #40
Hi @JarrodJ83
Do we still have an issue here?

[2020-12-12 23:40] blankensteiner commented on #56
Hi @usaguerrilla
For the time being, we'll stick with DotPulsar retrying on known issues we believe to be temporary and fault the consumer/producer/reader on unknown issues and known issues we believe to be permanent. While giving the user the option of overwriting these defaults.
If you still feel that the faulted state doesn't make sense and that we should always retry everything, then I welcome

[2020-12-12 23:40] #56 closed

[2020-12-12 23:43] blankensteiner commented on #46
Hi @dionjansen
It's not something I will be using myself, but I'm open for a discussion about how to implement it and of course to review and merge the PR, if you are up for creating one :-)

[2020-12-13 00:51] JarrodJ83 commented on #40
Hi @blankensteiner I have had to move away from this due to other priorities so I am not sure to be honest. I would probably just close out since no one else seems to be having the issue. Thanks for checking in!

[2020-12-13 08:32] blankensteiner commented on #40
Ok, I'll close it, but if you find that this is still a problem then please don't hesitate to create an issue again :-)

[2020-12-13 08:32] #40 closed

[2020-12-16 12:54] blankensteiner commented on #65
This is supported in 0.10.0

[2020-12-16 12:54] #65 closed

[2020-12-18 12:19] worldbeater opened #66 "Difference from pulsar-client-dotnet"
Assuming a [pulsar-client-dotnet](https://github.com/fsharplang-ru/pulsar-client-dotnet) library exists, which library should I prefer when starting up a new project based on Apache Pulsar? `pulsar-client-dotnet` seems to provide full-blown Pulsar support, and this seems to be true for `pulsar-dotpulsar` also. Probably the main difference is, that the `pulsar-dotpulsar` repository receives officia

[2020-12-18 13:09] blankensteiner commented on #66
Hi @worldbeater
Thanks for reaching out! I'll try and answer the best I can.
Turning back time a little the situation was that there were no .NET clients for Apache Pulsar. Unaware of each other I and the creator of pulsar-client-dotnet started working on one. I implemented it in C# and he is using F#.
After some time Danske Commodities (where I work) allowed me to use company time on DotPulsar.
A

[2020-12-19 16:11] dionjansen commented on #65
@blankensteiner that was fast thanks a bunch!

[2020-12-21 07:43] #66 closed

[2021-02-10 17:13] oven-baked opened #68 "Consuming a Message generated by a Python Pulsar Function puts Consumer in Faulted state."
I've been generating messages in a Python Pulsar Function and spitting them out to a receiving topic.

When I consume from that topic using the client app bundled with Pulsar, everything works okay and I can pull down and see my resulting messages.

If the DotPulsar consumer tries to pick up any of those messages created from the function, it immediately enters a faulted state.

The exception mess

[2021-02-10 17:48] blankensteiner commented on #68
Hi @oven-baked
Thanks for the bug report, I'll look into this tomorrow.
Can you confirm that the Python function is batching messages?

[2021-02-11 07:51] blankensteiner commented on #68
I tried producing some messages from a java client with batching enabled, creating batches containing 1 to multiple messages. I was able to read the messages just fine from DotPulsar.
Maybe the Python function is creating batched messages in a way that DotPulsar doesn't expect.
What version of DotPulsar are you using?
And what version of Pulsar are the functions running on?

[2021-02-11 09:14] oven-baked commented on #68
Hi @blankensteiner

Running Pulsar 2.7.0 and DotPulsar client is 0.10.1.

There has been nothing explicitly set around batching for the function. Is this something that needs to be tweaked for messages to safely consumed by the client? Apologies if this turns out to be configuration issues on my side!

[2021-02-11 10:33] blankensteiner commented on #68
Hi @oven-baked
I suspect that this is a bug in DotPulsar.
Could you maybe provide some python code that will generate messages that make DotPulsar fail?
That would make it easier for me to debug.

[2021-02-11 10:53] oven-baked commented on #68
Of course! We've been using this really simple function as supplied in the Pulsar documentation.

[code]
And then installing it via:

`./pulsar-admin functions create --tenant public --namespace default --name MyFunction --py /home/oven-baked/apache-pulsar-2.7.0/bin/myfunction.py --classname myfunction.ExclamationFunction --inputs persistent://public/default/functioninputtopic --output persistent:

[2021-02-11 13:03] blankensteiner commented on #68
Thanks!
I see the problem.
Some time ago I checked if a message was batched or not by checking the NumOfMessagesInBatch field, which has a default value of '1'.
If it was '1' (no matter if it's the default value or explicitly set), then I assumed the message was not batched. However, this caused problems because Python, with batching enabled, would send a single message as a batched message. So, I

[2021-02-11 13:32] blankensteiner commented on #68
Ah.... looks like the Python function is compressing the message using LZ4.
Maybe that is why it can't extract the messages in the batched message because DotPulsar doesn't support compression (yet).
@oven-baked should you try to disable compression?

[2021-02-11 14:16] oven-baked commented on #68
Hey @blankensteiner, I've been rooting around the documentation and config files, but it doesn't _appear_ like there is any way to change compression being applied. I'm not even able to see the current compression algorithm in the function metadata.

[2021-02-11 18:43] blankensteiner commented on #68
Hi @oven-baked
I had a quick look at Pulsar functions (mainly deployed via the YAML file) about 1½ year ago, but it's not something I know much about.
I would find it strange (and a bug) if compression could not be controlled (disabled or selecting from the other compression options). I think you have to ask in the Slack channel or mailing list or something like that :-)

[2021-02-19 17:08] blankensteiner commented on #68
Hi @oven-baked
I have just added support for LZ4, Snappy, Zlib, and Zstd compression. This will be available in the next release (0.11.0).
If you want to help test the bits in master, then feel free to reach out on slack :-)

[2021-02-19 17:08] #68 closed

[2021-03-05 23:34] blankensteiner commented on #6
Support for the following schemas are now in master:

- Boolean
- Byte
- Bytes (using byte[] and ReadOnlySequence\<byte\>)
- String (UTF-8, UTF-16, and US-ASCII)
- INT8, INT16, INT32, INT64. Float, and Double
- Time (using TimeSpan)
- Timestamp and Date (using DateTime)

Support for Protobuf, JSON, and Avro will be added at a later date.
Let me know what schemas you want and if the current impleme

[2021-03-16 09:23] darkwatchuk opened #69 "How to set listenerName for PulsarClient"
Hi,

The Java version of the client and other .Net clients allow the ability to set the listenerName.

Can this be supported on here too?

Many thanks

[2021-03-16 09:25] blankensteiner commented on #69
Hi @darkwatchuk
Do you have a link for the wanted feature?

[2021-03-16 09:33] darkwatchuk commented on #69
Yep, sorry.

Do these help?

https://pulsar.apache.org/docs/en/concepts-multiple-advertised-listeners/

https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientBuilderImpl.java

https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/src/Pulsar.Client/Api/PulsarClientBuilder.fs

[2021-03-16 09:45] blankensteiner commented on #69
Thanks! :-)
If it's just a matter of allowing the user to set the listener name on the client and set it (AdvertisedListenerName) on the topic lookup command, then I could add that in a few minutes. Would you be able to test it from the master branch?

[2021-03-16 10:30] darkwatchuk commented on #69
Yes, should be able to.

Is it also possible to set multiple endpoints for the service url for availability purposes?  Again, other clients support a comma separated serviceUrl by passing a string rather than a Uri  e.g.

pulsar://x.x.x.x:6650,y.y.y.y:6650,z.z.z.z:6650");

Guessing this might be a bigger job?

[2021-03-16 10:37] blankensteiner commented on #69
Great. I have just committed support for setting the listener name. Let me know if that work as expected :-)
In regards to multiple URLs. Well... in my experience, this is something that is better solved with DNS (multiple records) or a proxy. If you are up for it, I would welcome a PR for it :-)

[2021-03-16 11:09] darkwatchuk commented on #69
Hi,  the listenerName seems to work as expected, I can see positive and negative response messages coming back depending on the configuration so that all looks good to me thanks.

Noted regarding the PR !   I'll take a look at some point!,  I'm guessing the connection pool would be the place to start, and pass through the entries similiar to how the proxy works.  Additional proxy and DNS entries I

[2021-03-16 11:31] blankensteiner commented on #69
Cool, thanks for requesting and testing it! :-)
I'll make this part of the next release (later this week I hope).

In regards to multi-URLs: Yes, that would be handled in the ConnectionPool. However, when your start configuring your services with all the URLs and you then need to remove or add entries/URLs, that's just a nightmare. Having these URLs in a central location like the DNS or even bette

[2021-03-16 11:31] #69 closed

[2021-03-17 18:46] #6 closed

[2021-04-29 17:50] Chickenzilla opened #73 "Off-by-one error causes protocol corruption"
https://github.com/apache/pulsar-dotpulsar/blob/master/src/DotPulsar/Internal/Extensions/ReadOnlySequenceExtensions.cs#L91 can cause some sequences to be only partially read, returning incorrect length values and causing protobuf errors.  I have implemented a fix in our fork along with enhanced unit tests that show the issue at https://github.com/mParticle/pulsar-dotpulsar/commit/f13e3128775910a5c

[2021-04-29 19:23] blankensteiner commented on #73
Hi @Chickenzilla
Thanks, I'll look into it! :-)

[2021-04-29 19:52] blankensteiner commented on #73
Hi @Chickenzilla
Looking good and great work with the tests! :-)
Wanna create a PR for the changes to ReadOnlySequenceExtensions and ReadOnlySequenceExtensionsTests or should I just go ahead with a copy/paste?

[2021-04-29 21:50] Chickenzilla commented on #73
Please handle it yourself (feel free to take any/all code from my PR as desired).  I've moved onto a different bug and won't have time to come back to this for at least a few days.

[2021-04-30 05:39] blankensteiner commented on #73
I have just released 1.0.2 that fixes this.

[2021-04-30 05:39] #73 closed

[2021-05-25 21:18] eneshoxha opened #74 "Support - Multi-broker connection"
Would be possible to support multiple brokers connection like in Pulsar Client for Java?

         PulsarClient client = PulsarClient.builder()
              .serviceUrl("pulsar://localhost:6650,localhost:6651,localhost:6652")
              .build();

http://pulsar.apache.org/docs/en/client-libraries-java/

[2021-05-28 05:47] blankensteiner commented on #74
Hi @eneshoxha
Personally, I think that problem is better solved via DNS / Service discovery. Otherwise, you'll have X number of deployable units you have to reconfigure every time you add or remove brokers to the list of entry points.
However, if you submit a PR with this functionality I'll be happy to merge it :-)

[2021-05-29 01:07] ryansealy commented on #4
Partitioned topic support should be a top priority for this library. It's one of things that makes Pulsar great and it's a central feature of Pulsar itself. It can be a dealbreaker when it comes to using this library for many cases, especially if you're coming into a system you didn't design and which already has use of partitioned topics throughout. Given this library is now the "officially" supp

[2021-06-25 08:55] wanglantian opened #77 "Invalid scheme 'http'"
Hi,i want to use 'http://xxx.xxx.xxx.xxx' as serviceUrl,but it failed. Target pulsar version is 2.7.1.
Can i connect to such a serviceUrl that start with 'http'? Because provider just provide that.

[2021-06-25 09:51] blankensteiner commented on #77
Hi @wanglantian
If the provider sent you an HTTP URL then it must be for some web-based GUI or for the [WebSocket](https://pulsar.apache.org/docs/v1.22.0-incubating/clients/WebSocket/) client.
If you want to use DotPulsar then you need a connection to Apache Pulsar's binary protocol, meaning the scheme is "pulsar" or "pulsar+ssl".

[2021-06-26 02:56] wanglantian commented on #77
Thank you very much.I'll ask the provider for the required scheme.

[2021-06-26 02:56] #77 closed

[2021-06-29 10:23] blankensteiner commented on #4
Producer support for partitioned topics is available in release 1.1.0

[2021-06-29 10:23] #4 closed

[2021-07-07 10:59] DrinkStar opened #79 "How to set receiveQueueSize of consumer"

[2021-07-07 11:08] #79 closed

[2021-07-20 03:58] DrinkStar opened #82 "How to create a new topic by dotpulsar?"

[2021-07-26 02:00] RobertIndie commented on #82
You do not need to explicitly create topics in Pulsar. If a client attempts to write or receive messages to/from a topic that does not yet exist, Pulsar creates that topic under the namespace provided in the topic name automatically.

But regarding the partitioned topic, you can create it via this [command](https://pulsar.apache.org/docs/en/admin-api-topics/#create-1).

[2021-08-06 14:38] Flipbed opened #84 "Recover after network disconnect"
Hi Everyone!

We have just started using DotPuslar and mostly it works great!

We are having an issue where we _think_ that our company network goes offline for a while, and when coming back up we think that the client waiting for a message might get stuck and doesn't notice that the tcp connection is lost.

Do you think this is possible? If yes, is there any way for us to detect this or work arou

[2021-08-06 17:17] blankensteiner commented on #84
Hi @Flipbed
Are you [monitoring](https://github.com/apache/pulsar-dotpulsar/wiki/Monitoring) the state?
You can also have a look at the [sample](https://github.com/apache/pulsar-dotpulsar/blob/master/samples/Consuming/Program.cs#L64).
If the consumer is faulting and you don't want that, then you can overwrite the default implementation by creating your own [exception handler](https://github.com/ap

[2021-08-06 17:17] #82 closed

[2021-08-07 11:06] PetterIsberg commented on #84
We read in the Pulsar documentation that the client has to respond to pings but is not required to send them.
Is the dotpulsar library sending pings to the server for keep-alive functionality, or is it only responding to pings?

If we are not sending pings, perhaps the connection could have been closed due to network issues and this is not identified by the tcp stack.

[2021-08-07 15:34] blankensteiner commented on #84
@PetterIsberg DotPulsar doesn't send pings, it only responds to them.
If the connection is dropped the consumer will be 'Disconnected' and will reconnect or 'Faulted' and then you have to dispose the consumer and create a new one. In order to help I need to know the state of the consumer.

[2021-08-09 11:25] PetterIsberg commented on #84
Thank you for the quick answers!
I will try to describe our issue and what we have tested.

We made a test with a small consumer app with state monitoring and client exception handling according to the wiki here on Github ( [https://github.com/PetterIsberg/SimplePulsarClient/blob/master/Program.cs](https://github.com/PetterIsberg/SimplePulsarClient/blob/master/Program.cs) ).

Shutting down the ser

[2021-08-10 09:24] PetterIsberg commented on #84
I created an example solution of a watchdog as a Pull Request [https://github.com/apache/pulsar-dotpulsar/pull/85](https://github.com/apache/pulsar-dotpulsar/pull/85).
Please let me know if this is a good way to solve it :)

[2021-08-23 19:37] blankensteiner commented on #84
@PetterIsberg Thanks, I will look into the issue :-)

[2021-08-24 12:52] blankensteiner commented on #84
Hi @PetterIsberg
I have a hard time reproducing this. I'm using Docker (and not Virtualbox) and stopping the container or just disconnecting the container from the network gives me the wanted result: The state change to 'Disconnected' and when I start the pulsar container again or reconnect it to the network the consumer will change state to 'Active' again.
Can you confirm that when disconnecting

[2021-08-24 20:40] alexcherka commented on #45
@blankensteiner Is this something we are considering in the future? Would love to utilize this functionality, it's already in F#'s version, but just wondering if we can expect this in the near future, it's just nice for automated retry or reconsuming upon an exception occurring or other.

[2021-08-25 06:01] blankensteiner commented on #45
Hi @alexcherka
@dionjansen has created a PR for it and @RobertIndie is reviewing it. Once they are finished I can review and merge it :-)

[2021-09-10 16:49] RichJacobs opened #87 "Doesn't work"
Hi there, I cloned the repo, built locally (using VS 2019) and try to run the tests. Unit tests but the integration tests just ran and ran until I stopped them. I then try to run the sample projects (producer, consumer and reader as a multiple projects on startup) and nothing happens. I debugged the code and when the code in the Producing.Program class ran this code:
` _ = await producer.Send(data

[2021-09-13 06:27] blankensteiner commented on #87
Hi @RichJacobs
Thanks for reporting this.
Do you see any state changes? Meaning, is the producer 'Connected' and the consumer 'Active'? Do you have Pulsar running locally?

[2021-09-13 14:41] RichJacobs commented on #87
Thanks for your reply @blankensteiner. So I think I probably didn't have pulsar running locally. Have tried to follow this:
https://pulsar.apache.org/docs/en/standalone/#start-pulsar-standalone
But my terminal doesn't accept `pulsar start standalone`, I get an error:
[code]

I will keep trying, but would you know what I might have done wrong?

[2021-09-14 05:36] blankensteiner commented on #87
You are on Windows, right? Got docker installed? Then try:
`docker run -d --restart unless-stopped --name pulsar -p 6650:6650 -p 8080:8080 apachepulsar/pulsar:latest bin/pulsar standalone`

[2021-09-14 11:31] RichJacobs commented on #87
Superb! That worked a charm! Thanks for your help @blankensteiner .
Might be worth updating the readme perhaps with this useful info?
thanks again

[2021-09-15 07:22] Oleg26Dev opened #88 "Typo: DotPulsar"
There is https://github.com/apache/pulsar-dotpulsar/wiki
...
 Lastly, **DotPular** supports tracing and all the compression options but please read compression to learn how to enable them.

[2021-09-15 07:25] Oleg26Dev opened #89 "IProducer does not contain definition for NewMessage()"
I build a small NET Core app to test Pulsar. I am trying to repeat steps described here https://pulsar.apache.org/docs/en/client-libraries-dotnet/
I have added the NuGet DotPulsar.

And I have errors during the compilation.
For example,
            var data = Encoding.UTF8.GetBytes("Hello World");
            var messageId = await pulsarProducer.NewMessage()

[2021-09-15 08:11] blankensteiner commented on #89
Hi @Oleg26Dev
Do you have a using statement for 'DotPulsar.Extensions'?

[2021-09-15 08:12] blankensteiner commented on #87
Sure, we can do that. Glad you got it working :-)

[2021-09-15 08:12] #87 closed

[2021-09-15 08:13] blankensteiner commented on #88
Thanks, I'll fix that :-)

[2021-09-15 08:13] #88 closed

[2021-09-15 11:06] Oleg26Dev commented on #89
There is all my using:
using DotPulsar;
using DotPulsar.Abstractions;
using DotPulsar.Extensions;
using DotPulsar.Internal;
using System;
using System.Text;
using System.Threading.Tasks;

and my small project.

[PulsarConsole.zip](https://github.com/apache/pulsar-dotpulsar/files/7169509/PulsarConsole.zip)

[2021-09-15 17:28] blankensteiner commented on #89
@Oleg26Dev
You are using IProducer and not a generic IProducer<>. You need the generic interface to create a message.
In your code you should change
`static IProducer pulsarProducer`
to
`static IProducer<ReadOnlySequence<byte>> pulsarProducer`
Which is what is returned by IProducerBuilder.Create()

[2021-09-15 17:28] #89 closed

[2021-09-29 15:19] dunkymole commented on #84
Hey,

My team has also seen issues whereby the client gets zombied, presumably also after some sort of network blip. I can well understand how @PetterIsberg's repro would surface this error because its essentially forcing the socket into a half-closed state. Shutting things down more cleanly would send a FIN and hence the the client does the right thing as you observed @blankensteiner.

The recept

[2021-09-30 06:23] blankensteiner commented on #84
Hi @dunkymole
The PR doesn't seem finished (open questions and writing to the console in the code) and I think it is better solved using ping/pong. Right now DotPulsar responds to a ping from the broker, but I think we need to also send pings and use that to see if there is a connection issue.
I'll implement a solution before the next release.

[2021-09-30 08:19] PetterIsberg commented on #84
I also think adding pings to the client is a good idea.
I closed my PR as it was meant as an example of how it could be solved. I should probably have marked it WIP.

[2021-09-30 13:48] dunkymole commented on #84
OK great. Agree sending pings is a much better way to detect the half-broken status. I wasnt sure whether it would be feasible with the wire-protocol, I never checked. Thanks @blankensteiner, looking forward to that release :-)

[2021-09-30 20:30] blankensteiner commented on #84
Hi @PetterIsberg, @Flipbed, and @dunkymole. Thanks for the heads up on this! :-)
Since I can't reproduce the problem locally I'm hoping you might help me test the bites in master?

[2021-10-14 06:40] ZamTheman opened #91 "Usage of System.Diagnostics.DiagnosticsSource (5.0.1) break Azure Insights"
After implementing the package in our project the Azure Insights stopped working. After some investigations there seems to be known known conflict when using System.Diagnostics.DiagnosticsSource.
I tested with a poc app and when bringing in just that dll (5.0.1) the insights directly stopped working in Azure.

See: https://docs.microsoft.com/en-us/azure/azure-monitor/app/status-monitor-v2-troubles

[2021-10-18 08:20] VisualBean opened #92 "Client usage"
Hi guys, im wondering what the expected usage of this library is;

* How should I consider my client? Singleton/scoped/transient?
* How should I consider the consumer/producer instances?
* The client, doesn't support any delegate for rolling a new jwt, which indicates to me, that the client is to be considered either scoped or transient - What are the characteristics of port usage/connection pooli

[2021-11-09 16:11] #91 closed

[2021-11-09 16:12] blankensteiner commented on #84
I'll interpret silence as "Yey it works"

[2021-11-09 16:12] #84 closed

[2021-11-15 22:41] dgiannone87 commented on #8
Hi @JarrodJ83 - I know this is an old thread, but wonder if you ever took this on.  Have a need for using DotPulsar with Pulsar encryption.

Thanks

[2021-11-17 02:22] JarrodJ83 commented on #8
Sorry @dgiannone87 I never got around to this.

[2021-11-17 09:11] dunkymole commented on #84
Sorry, I didnt see this callout. Are you saying bi-directional heartbeating has been implemented and merged to master?

[2021-11-18 22:17] blankensteiner commented on #84
@dunkymole, yes, DotPulsar will send pings to the broker with the new version (2.0.1).

[2021-11-22 16:44] PetterIsberg commented on #84
@blankensteiner We're grateful that you take time to look into this and I'm sorry for not helping out on this further.

I'm looking through the code now and can see that the client side ping has been implemented and my testing shows that the client is indeed sending pings. Is there however any action taken if the response to the ping is missing, i.e. no pong back from the server?

[2021-11-23 09:35] blankensteiner commented on #84
@PetterIsberg DotPulsar doesn't explicitly react to a missing pong, since I hope and assume that the OS will see that the ping package is not being acked and therefore closes the connection. Let me know if that isn't the case :-)

[2021-12-07 14:40] johnboy007 commented on #8
This would be great if it could use this feature - are there any plans on adding this?

[2021-12-08 12:58] johnboy007 commented on #6
Hi do you know when Protobuf, JSON, and Avro  will be supported?

[2021-12-08 13:14] blankensteiner commented on #6
Hi @johnboy007 it's not something that is being worked on currently. A PR is most welcome :-)

[2021-12-08 13:15] blankensteiner commented on #8
Hi @johnboy007 it's not a feature we (Danske Commodities) are using, but we will be happy to discuss the implementation and review and merge a PR solving this :-)

[2021-12-27 06:31] tuteng opened #94 "Support for oauth2 authentication"

[2022-01-25 03:21] codelipenghui opened #154 "[DotPulsar] new consumer type: TableView"

[2022-02-02 13:41] blankensteiner commented on #92
Hi @VisualBean
In Master, we now have support for on-the-fly authentication. Does that fit your needs?

[2022-02-03 09:59] VisualBean commented on #92
Looks good. From my quick glance, it looks like we can simply implement a different authfactory for oauth/whatever we want?
I see another issue has been created for OAuth specifically #94

[2022-02-03 10:08] blankensteiner commented on #92
Yeah, go nuts, you just need to implement IAuthentication :-)

[2022-02-03 10:13] VisualBean commented on #92
Awesome, I will most likely contribute within a couple of days then!

[2022-02-03 10:13] #92 closed

[2022-02-03 10:13] blankensteiner commented on #92
You are most welcome .:-)

[2022-02-11 11:48] GeroL opened #96 "Expose Redelivery Count By Message Properties"
Basically same as here https://github.com/apache/pulsar/issues/3030

[2022-02-11 12:01] #96 closed

[2022-02-11 12:02] GeroL commented on #96
Sorry. found it on the IMessage interface

[2022-02-11 16:40] GeroL opened #98 "DeadLetterQueue handling in consumer"
Let the consumer handle dead letters

First design: #97

Feel free to add comments. Will work on it again after next week.

[2022-02-14 12:21] ddieruf opened #99 "Wondering about proto"
As I learn more about the project, I was wondering how `DotPulsar.Internal.PulsarApi` is generated? To be honest I was expecting to see a github workflow (or some automation) that creates the .cs but I don't (apologies if I missed it).

[2022-02-14 12:59] blankensteiner commented on #99
Hi @ddieruf
It's done using https://protogen.marcgravell.com/

[2022-02-14 13:30] ddieruf commented on #99
Hi, thank you for that. Does the master branch follow the latest version of Pulsar?

[2022-02-14 17:17] ddieruf commented on #99
First, please forgive my potential lack of grpc knowledge...

I am making the assumption that the main Pulsar project produces some sort of .proto definition for a client to implement. You are using the above protogen tool to create the .cs implementing it. That definition file is a part of a certain version of Pulsar.

[2022-02-15 17:28] #99 closed

[2022-03-16 04:09] benlongo opened #100 "Support - Avro, JSON, and Protobuf schemas"
Since https://github.com/apache/pulsar-dotpulsar/issues/6 has been closed, I'm creating this to track interest (in addition to https://github.com/apache/pulsar-dotpulsar/issues/6#issuecomment-988793327) and progress on Avro/JSON/Protobuf.

[2022-03-23 09:51] VisualBean opened #101 "`AuthenticateUsingToken(Func<Task<string>> tokenFactory)` is not a part of 2.3.0"
I would have expected this overload to have been a part of the 2.3.0 release, but I don't see it.

Is there a reason why this wasn't added to the latest release?

[2022-03-23 10:49] blankensteiner commented on #101
Hi @VisualBean
It has been there since release [2.1.0](https://github.com/apache/pulsar-dotpulsar/blob/master/CHANGELOG.md#210---2022-02-02)

[2022-03-25 21:31] blankensteiner commented on #101
Did you manage to locate the problem?

[2022-04-02 11:07] #101 closed

[2022-04-03 15:32] VisualBean commented on #101
I never found it, but ended up overriding iauthentication instead - which worked great for OAuth using MSAL.

[2022-06-08 02:32] RobertIndie opened #105 "Support - Custom authentication"
The Pulsar Java client has support custom authentcaition: https://pulsar.apache.org/api/client/org/apache/pulsar/client/api/AuthenticationFactory.html#create-java.lang.String-java.lang.String-

We can add support for this.

[2022-06-08 05:39] blankensteiner commented on #105
Is this not covered by IAuthentication?

[2022-06-08 08:19] RobertIndie commented on #105
I think we may need to add reflection support here. Users only need to provide the required class name and auth parameters to generate the IAuthentication.

[2022-06-09 17:11] wj8400684 opened #106 "Why does "pulse changed state to'faulted" appear when I connect to the server version 2.10.0"
Why does "persistent://public/default/mytopic' changed state to 'Faulted" appear when I connect to the server version 2.10.0
No problem with pulas2.7.1

[2022-06-13 06:09] blankensteiner commented on #106
I can't reproduce the issue.
Could you add a custom exception handler and provide some more info?

[2022-06-13 06:14] blankensteiner commented on #105
What is the use case that can't be solved with the existing functionality?
I am not against reflection, but can't see it providing anything useful in this scenario (just providing some loose coupling that doesn't give a better developer experience anyway), so wondering if I'm not seeing the right use case.

[2022-06-14 08:03] justinwujian opened #107 "DotPulsar refers to the MySql.Data package, which will cause the consumer status to become 'Faulted' and eventually fail to consume messages."
DotPulsar refers to the MySql.Data package, which will cause the consumer status to become 'Faulted' and eventually fail to consume messages.
![image](https://user-images.githubusercontent.com/65995025/173526558-5259200b-f749-4f0b-ba9f-f9f2765cc931.png)

I cloned the official DotPulsar source code on GitHub and tested it directly on this code. I didn't change anything except setting the pulsar con

[2022-06-14 08:11] blankensteiner commented on #107
Hi @justinwujian
DotPulsar does not reference MySql.Data, so that sounds very strange.
Could you add a custom exception handler and provide some more info?

[2022-06-14 08:19] justinwujian commented on #107
DotPulsar does not refer to MySql.Data. In order to verify this problem, I referenced the MySql.Data package in DotPulsar. This problem is easy to reproduce, you can give me the same, directly refer to MySql.Data in DotPulsar, do not change anything else, and then run the Consuming project, the status of the consumer will become 'Faulted',

[2022-06-14 10:42] justinwujian commented on #107
Hi, after I pulled the code, everything seems to be working fine and running, the consumer is no longer 'Faulted'. You solved this problem, can you push the latest nuget package?

[2022-06-14 12:53] blankensteiner commented on #107
Sure... btw, you were running the code on a non-Windows system, right?

[2022-06-15 08:59] justinwujian commented on #107
My local development environment is Windows, but the environment deployed on the service is Linux.

[2022-06-15 12:17] blankensteiner commented on #107
Roger. With the release of version 2.4.0, I am closing this issue.

[2022-06-15 12:17] #107 closed

[2022-06-17 07:54] RobertIndie commented on #105
Get it. Thanks for your explanation. I will close this issue before there is a use case for reflection support.

[2022-06-17 07:54] #105 closed

[2022-09-26 12:15] blankensteiner commented on #106
Closed due to inactivity

[2022-09-26 12:16] #106 closed

[2022-10-05 08:04] eduardofesilva opened #111 "Support - SendTimeout for Producer Client"
Hi
Would be possible to support SendTimeout like in Pulsar Client for Java?
This is an mandatory option for scenario where we want to avoid deduplication

[code]

[Deduplication - Producer Client](https://pulsar.apache.org/docs/cookbooks-deduplication/#pulsar-clients)

[2022-10-05 09:55] kandersen82 commented on #111
Hi

I would be possible to implement a Send Timeout, but i am unsure of exactly what you want to accomplish. Unlike the java client, the default behavior of dotPulsar is that Send will never timeout, and therefor you don't need to specifically configure the timeout if you want to enable deduplication. Simply enable deduplication on the namespace, and ensure that the producer name is set, and you s

[2022-10-11 08:22] VisualBean commented on #101
Sorry, i got really busy with the release of our product.
I believe the problem was simply a stale nuget cache.

On Sat, 2 Apr 2022 at 13.07, Daniel Blankensteiner ***@***.***>
wrote:

--
mvh Alex Carlsen

[2022-10-11 13:19] amareshmad opened #114 "When i run test console app consumer is creating and when i integrate same to actual product consumer is not creating and going to Faulted state"
**When I create .NET framework/.net core console app, I could be able to create a client and able to create consumer and receiving the messages as well but when I integrate it into my actual project it is not building the consumer **

For the first time from console got the issue DotPulsar.Exceptions.ChannelNotReadyException: The channnel is not ready yet later it is not generated, created the con

[2022-10-11 13:29] blankensteiner commented on #114
Hi @amareshmad

Is the test project and the production project the same version of .NET?

[2022-10-11 13:59] amareshmad commented on #114
sample app tried in both .net framework and .net core, both sample apps are working.

same code tested consoles and integrated to product.
using DotPulsar;
using DotPulsar.Abstractions;
using DotPulsar.Exceptions;
using DotPulsar.Extensions;
using System;
using System.Buffers;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading;
using System.Threading.Tas

[2022-10-11 14:50] amareshmad commented on #114
any idea on what could be the reason to go for Consumer state to Faulted?

[2022-10-11 15:09] blankensteiner commented on #114
I suspect that DotPulsar.Exceptions.ChannelNotReadyException is not the only exception you are seeing. That exception will never fault a Producer/Consumer/Reader.
I have seen some .NET Frameworks 4.8 errors regarding the configuration of TLS. Meaning you have to tell .NET Framework, via the Windows Registry, to use newer versions of TLS.
You could try also creating a producer and Send something. S

[2022-10-11 16:50] amareshmad commented on #114
@Blankensteiner thanks for the reply.
will create producer as well and verify same from product code.

if framework version is the issue even it could have blocked .NET 4.8 framework console app as well, right? because it is working fine from console app 4.8 version in the same machine.

[2022-10-12 10:00] blankensteiner commented on #114
Yes, the console app should also fail in that case.
Did you try with a producer?
Also, are you running on Windows or Linux, and what dependencies does your production app have?

[2022-10-13 09:59] amareshmad commented on #114
windows app and running in windows server 2016.

Trying producer by test application, it is going to closed state. mean from test-console app producer itself is not created.

[2022-10-13 11:42] amareshmad commented on #114
Windows app. Running in windows server 2016.
Test apps also running in same windows server 2016.

Producer .net framework test console
   Class ProductMainClass{
   public async System.Threading.Tasks.Task CreateProducer(string queueName)
        {

            var cts = new CancellationTokenSource();

            Console.CancelKeyPress += (sender, args) =>
            {
                cts.Cancel

[2022-10-13 11:49] amareshmad commented on #114
Mainly observed, whenever after creating producer/consumer if I start send/receive through await producer/consumer object state is going to **Faulted**.

When I comment send/receive through their respective object the producer/consumer object is going to **Closed state**

[2022-10-13 21:44] blankensteiner commented on #114
Have a look at TrustedCertificateAuthority, VerifyCertificateAuthority and VerifyCertificateName.
Maybe start by setting VerifyCertificateAuthority to false.

[2022-10-14 07:09] #111 closed

[2022-10-14 15:09] amareshmad commented on #114
tried with setting VerifyCertificateAuthority ,VerifyCertificateName it didn't help.

tried with setting registry as well didn't help.
[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.NETFramework\v2.0.50727]
      "SystemDefaultTlsVersions" = dword:00000001
      "SchUseStrongCrypto" = dword:00000001
[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.NETFramework\v4.0.30319]
      "SystemDefaultTlsVersions" = dword:

[2022-10-14 20:26] blankensteiner commented on #114
It sounds like something is broken in the production app. Maybe some dependencies or settings are lingering from when it was .NET Framework 4.5.
Possibly related to SSL/TLS, I can't really say.
If possible, you could create the solution from scratch (using .NET Framework 4.8) and then copy/paste the code from the old solution into the new solution. Using the new .csproc format (+nuget dependencies

[2022-10-17 11:41] amareshmad commented on #114
Connection established from product code

Consumer code:
      await using var client = PulsarClient.Builder()
                                                     .Authentication(new AuthenticationBasic(username, password))
                                                     .ServiceUrl(sURl)
                                                     .ExceptionHandler(pException.OnException)

[2022-10-17 12:39] blankensteiner commented on #114
Glad to hear it. TLS can be tricky :-)

[2022-10-17 12:39] #114 closed

[2022-10-18 09:21] amareshmad opened #116 "Dot pulsar consumer message parsing"
Hi team,

Migrating from Active MQ to dot pulsar.
Producer is java app & consumer is dotnet and after consuming messages dotnet app process some job will become a producer and java is consumer.

Active MQ: The existing behavior, java is producing the messages, dotnet consumer receives, convert back to ITextMessage , ITexMessage , nmsMessage string has nmsMessage.Properties.GetString() where we can

[2022-10-19 02:11] SignorMercurio opened #117 "Publish releases instead of tags for stable versions"
We are trying to auto generate release notes on the [Release Notes](https://pulsar.apache.org/release-notes/) page. However, it seems this repo does not have releases, only having tags without release notes.

I'm aware that a [CHANGELOG](https://github.com/apache/pulsar-dotpulsar/blob/2.3.0/CHANGELOG.md) file exists. Can we publish releases rather than tags (for stable versions) and sync the conte

[2022-10-19 07:54] blankensteiner commented on #116
Pulsar just transmits the bytes. It is up to you to decide what to do with it.
You use a string payload (see DotPulsar.Schemas.StringSchema) for transmitting XML, JSON, or just a plain string.
You can also just the raw bytes (as byte[] or ReadOnlySequence\<byte>) or some of the primitive types defined in DotPulsar.Schemas.

[2022-10-19 08:39] amareshmad commented on #116
@blankensteiner: pulsar supports with raw bytes & specific schema to transmit/receive.
Creating consumer with schema like string, bytearray,sequence . when I convert the consumer message data bytes to string,
stringData = Encoding.UTF8.GetString(message.Data.ToArray()). there is no change in the received stringData format.

What is best way to parse this kind of data. Producer side (java) saying t

[2022-10-26 06:38] amareshmad commented on #116
this we get resolved with help of messaging team, rather than sending us the bytes data they started sending us the raw data.

that helps us to avoid parse/extract data.

[2022-10-26 06:38] #116 closed

[2022-10-26 07:02] amareshmad opened #118 "producer status evaluation before creating new producer"
Is there way to restrict/avoid producer creation for same topic for multiple instances.

[2022-10-26 08:07] blankensteiner commented on #118
Using the same producer name should fix that (only one will be allowed).

[2022-10-27 20:57] alexcherka commented on #45
Hey @blankensteiner Just checking if we have an update for this? Been more than a year lol...

[2022-10-28 07:10] amareshmad commented on #118
Thanks @blankensteiner. Consider now I have two different producers (for two different regions East & West and both are in connected status) and both are having same data, but I want to send only from one producer, if same data tries to send by another producer which was connected other region, it should not send. How to restrict this?

or

I have two producers for two different regions (East & We

[2022-10-28 21:55] blankensteiner commented on #45
Hi @alexcherka
Doesn't seem like the PR is ready for review. I can't merge and release what I can't review :-)

[2022-11-04 11:41] blankensteiner commented on #118
DotPulsar doesn't support batching on the producer side, only when reading/consuming.
Not sure how this is connected to your request? Did you have a look at the access modes?

[2022-11-09 11:04] amareshmad commented on #118
@blankensteiner I have consumer received a message, acknowledged same but failed to process the message, I want ask broker to redeliver.

In case any failure in the acknowledged message to process, is there way we can ask broker to redeliver.
consumer.RedeliverUnacknowledgedMessages(messageId) => this is only for Unacknowledge.
 what is the scenario for acknowledged to ask redeliver.

[2022-11-09 11:34] blankensteiner commented on #118
No, get the message, process it, and if successful when acknowledge.

[2022-11-09 11:34] #118 closed